*  {
   margin: 0;
   padding: 0;
} *

a {
   text-decoration: none;
}

body {
   background-color: var(--background-body);
}

.title__main {
   color: var(--text-default);
   text-transform: uppercase;
   font-family: covered;
}

.center__content {
   display: grid;
   place-items: center;
}




:root {
   --primary-color: #0CECDD;
   --secondary-color: #C400FF;

   --yellow: #FFF338;
   --pink: #FF67E7;

   --background-body: #f0f8ff;
   --text-default:#eeeeee;

   --purple-200: #F0D9FF;
   --purple-400: #BFA2DB;

   --gray-100: #eeeeee;
   --gray-200: #ccc;
   --gray-500: #7F7C82;
   --gray-600: #4d4b4b;
   --gray-700: #3a3939;

   --white: #fff;
   --black: #000;
}

@font-face { /*PRINCIPAL*/
   font-family: covered;
   src: url(../fonts/CoveredByYourGrace-Regular.ttf);
}

@font-face { /*TEXTOS*/
   font-family: space-light;
   src: url(../fonts/SpaceGrotesk-Light.ttf);
}

@font-face { /*TEXTOS*/
   font-family: space-regular;
   src: url(../fonts/SpaceGrotesk-Regular.ttf);
}

@font-face { /*TEXTOS*/
   font-family: space-semibold;
   src: url(../../docs/fonts/SpaceGrotesk-SemiBold.ttf);
}

@font-face { /*ESPECIAL*/
   font-family: sacramento;
   src: url(../../docs/fonts/Sacramento-Regular.ttf);
}